<div class="row justify-content-center">
  <style>
    .card-img-top {
      width: 100%;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
    }
  </style>

  <% current_user_participation_ids = current_user.group_participation_applications.pluck(:group_id) %>

  <% groups_with_dates = @groups.reject { |group| group.actual_date.nil? } %>
  <% groups_without_dates = @groups.select { |group| group.actual_date.nil? } %>

  <% groups_with_dates.sort_by(&:actual_date).each do |group| %>
    <div class="col-lg-2 col-md-2 col-sm-6 mb-3">
      <div class="card">
        <img src="<%= group.group_image.attached? ? url_for(group.group_image) : image_path('no_image_square') %>" class="card-img-top" alt="Group Image">
        <div class="card-body">
          <h5 class="card-title"><%= link_to group.title, group_path(group.id) %></h5>
          <p class="card-text"><i class="fa-regular fa-calendar-days"></i> <%= group.actual_date.present? ? group.actual_date.strftime('%Y年%m月%d日(%a)') : '未定' %></p>
          <% group_status = current_user_participation_ids.include?(group.id) ? 
                            current_user.group_participation_applications.find_by(group_id: group.id).application_status_i18n : 
                            '未申請' %>
          <p><%= "ステータス：#{group_status}" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row justify-content-center">
  <% groups_without_dates.each do |group| %>
    <div class="col-lg-2 col-md-2 col-sm-6 mb-3">
      <div class="card">
        <img src="<%= group.group_image.attached? ? url_for(group.group_image) : image_path('no_image_square') %>" class="card-img-top" alt="Group Image">
        <div class="card-body">
          <h5 class="card-title">開催日：未定</h5>
          <p class="card-text"><%= link_to group.title, group_path(group.id) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
