<h6>スケジュール一覧</h6>

<%= stylesheet_link_tag 'simple_calendar', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= month_calendar events: @schedules do |date, schedules| %>
  <%= date.day %>

  <% schedules.each do |schedule| %>
  <div>
    <%= link_to schedule_path(schedule.id) do %>
      <%= "#{schedule.group.title} " %>
      <% if schedule.classification == 'other' %>
        🥚
      <% elsif schedule.classification == 'practice' %>
        🐣
      <% elsif schedule.classification == 'announcement' %>
        🐓
      <% end %>
    <% end %>
  </div>
<% end %>
<% end %>


