

<div class="row">
  <div class="col-3" style="background-color: #4682B4; color: white;">
<h6>メニュー</h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to admin_users_path, class: 'nav-link' do %>
          <i class="fa-solid fa-user"></i> ユーザー管理
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_group_participation_applications_path, class: 'nav-link' do %>
          <i class="fa-regular fa-thumbs-up"></i> 申請一覧
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_groups_path, class: 'nav-link' do %>
          <i class="fa-solid fa-people-group"></i> グループ一覧
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_schedules_path, class: 'nav-link' do %>
          <i class="fa-regular fa-calendar-days"></i> 予定管理
        <% end %>
      </li>
      <li class="nav-item mt-auto">
        <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
          <i class="fa-solid fa-right-from-bracket"></i> ログアウト
        <% end %>
      </li>
    </ul>
  </div>

  <div class="col-9">
    <h6>管理者TOP</h6>
    <div class="row">
      <div class="col-6">
        <div class='card'>
          <%= link_to admin_users_path, class: 'nav-link' do %>
            <i class="fa-solid fa-user" style="font-size: 5em;"></i> ユーザー管理
          <% end %>
        </div>
      </div>
      <div class="col-6">
        <div class='card'>
          <%= link_to admin_group_participation_applications_path, class: 'nav-link' do %>
            <i class="fa-regular fa-thumbs-up" style="font-size: 5em;"></i> 申請一覧
          <% end %>
        </div>
      </div>
      <div class="col-6">
        <div class='card'>
          <%= link_to admin_groups_path, class: 'nav-link' do %>
            <i class="fa-solid fa-people-group" style="font-size: 5em;"></i> グループ一覧
          <% end %>
        </div>
      </div>
      <div class="col-6">
        <div class='card'>
          <%= link_to admin_schedules_path, class: 'nav-link' do %>
            <i class="fa-regular fa-calendar-days" style="font-size: 5em;"></i> 予定管理
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
