<div class="simple-calendar">
  <div class="calendar-heading">
    <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title"><%= start_date.year %>年 <%= t('date.month_names')[start_date.month] %></time>

    <nav>
      <%= link_to t('simple_calendar.previous', default: '←前月へ'), calendar.url_for_previous_view %>
      <%= link_to t('simple_calendar.today', default: '【今月】'), calendar.url_for_today_view %>
      <%= link_to t('simple_calendar.next', default: '次月へ→'), calendar.url_for_next_view %>
    </nav>
  </div>

  <table class="table table-striped">
    <thead class="table-active text-center">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr class="table-light">
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
