<h2>新規ユーザー登録</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: @user %>

  <table class="customer_info customer_form">
      <thead>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>名前</td>
          <td><%= f.label :first_name, "(姓)" %>
            <%= f.text_field :first_name, autofocus: true, :placeholder =>"高良" %></td>
          <td><%= f.label :last_name, "(名)" %>
            <%= f.text_field :last_name, :placeholder =>"歌奏" %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.label :first_name_kana, "(セイ)" %>
            <%= f.text_field :first_name_kana, autofocus: true, :placeholder =>"コウラ" %></td>
          <td><%= f.label :last_name_kana, "(メイ)" %>
            <%= f.text_field :last_name_kana, :placeholder =>"カナデ" %></td>
        </tr>
        <tr>
          <td><%= f.label :nickname, "ニックネーム" %></td>
          <td colspan="2"><%= f.text_field :nickname, :placeholder =>"かなっぺ" %></td>
        </tr>
        <tr>
          <td><%= f.label :birth_date, "生年月日" %></td>
          <td colspan="2"><%= f.date_select :birth_date, start_year: Date.current.year, end_year: Date.current.year - 100, order: [:year, :month, :day], prompt: { year: '年', month: '月', day: '日' } %></td>
        </tr>
        <tr>
          <td><div class="field">
            <%= f.label :email, "メールアドレス"  %></td>
          <td colspan="2"><%= f.email_field :email, :placeholder =>"sample@chorus.com", autocomplete: "email" %></div></td>
        </tr>  
        <tr>
          <td><div class="field">
            <%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)"%></td>
          <td colspan="2"><%= f.password_field :password, autocomplete: "new-password" %></div></td>
        </tr>
        <tr>
          <td><div class="field">
            <%= f.label :password_confirmation, "パスワード(確認用)" %></td>
          <td colspan="2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div></td>
        </tr>
      </tbody>
    </table>
    

  <div class="actions">
    <%= f.submit "新規登録", class: 'btn btn-success' %>
  </div>
<% end %>

<%= render "public/shared/links" %>






<!--script>
  document.addEventListener('DOMContentLoaded', function() {
    var phoneInput = document.querySelector('.phone-number-input');

    phoneInput.addEventListener('input', function() {
      // ハイフンを挿入するロジック
      var value = this.value.replace(/[^\d]/g, ''); // 数字以外を削除
      if (value.length > 3 && value.length <= 7) {
        this.value = value.slice(0, 3) + '-' + value.slice(3);
      } else if (value.length > 7) {
        this.value = value.slice(0, 3) + '-' + value.slice(3, 7) + '-' + value.slice(7);
      }
    });
  });
</script-->