<% if flash[:notice].present? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% elsif flash[:success].present? %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<h6>スケジュール出欠回答</h6>
<%= form_with model: @schedule_participant, url: schedule_schedule_participants_path do |f| %>
  <%= f.hidden_field :schedule_id, value: @schedule.id %>

  グループ名：<%= link_to @schedule.group.title, group_path(@schedule.group.id) %></br>
  分類：<%= @schedule.classification_i18n %></br>
  予定日：<%= @schedule.start_time.present? ? @schedule.start_time.strftime("%Y年%m月%d日(%a)") : '未登録' %></br>
  場所：<%= @schedule.location.present? ? @schedule.location : '未登録' %></br>
  内容：<%= @schedule.content.present? ? @schedule.content : '未登録' %></br>
  -----</br>
※出欠の回答を忘れずにお願いします※</br>
<%#= form_with model: @schedule_participant, url: group_participation_applications_path, method: :post do |f| %>

  出欠ステータス:　
  <% ScheduleParticipant.attendance_statuses.keys.each do |status| %>
    <%= f.radio_button :attendance_status, status %>
    <%= f.label :attendance_status, I18n.t("enums.schedule_participant.attendance_status.#{status}") %>　
  <% end %>
  <%= f.submit '回答送信', class: 'btn btn-success' %>
<% end %>




