<% if flash[:success].present? %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<div class="container mx-auto">
  <h6>Adminグループ申請一覧</h6>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>申請日時</th>
        <th>ユーザー</th>
        <th>本番予定日</th>
        <th>グループタイトル</th>
        <th>申請ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @requests_all.each do |applying| %>
        <tr>
          <td class="table-light"><%= applying.created_at.strftime('%Y-%m-%d') %></td>

          <% if applying.user.present? %>
            <td class="table-light"><%= link_to applying.user.nickname, admin_user_path(applying.user_id) %></td>
          <% else %>
            <td class="table-light  text-muted">ユーザーが存在しません</td>
          <% end %>

          <td class="table-light"><%= applying.group.actual_date.present? ? applying.group.actual_date.strftime('%Y-%m-%d') : '未定' %></td>
          <td class="table-light"><%= applying.group.title %></td>
          <td class="table-light">
            <% if applying.application_status == 'approved' %>
              <%= link_to applying.application_status_i18n, admin_group_participation_application_path(applying.id), class: 'text-success' %>
            <% elsif applying.application_status == 'rejected' %>
              <%= link_to applying.application_status_i18n, admin_group_participation_application_path(applying.id), class: 'text-danger' %>
            <% else %>
              <%= link_to applying.application_status_i18n, admin_group_participation_application_path(applying.id), class: 'btn btn-primary' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
