<% if flash[:notice].present? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% elsif flash[:success].present? %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<div class="container mx-auto">
<h6>グループ申請詳細(ステータス変更)</h6>

<table class="table">
  <tbody>
    <tr>
      <th class="table-secondary">申請日時</th>
      <td class="table-light"><%= @application.created_at.strftime('%Y-%m-%d  %p%I:%M') %></td>
    </tr>
    <tr>
      <th class="table-secondary">ユーザー</th>
      <td class="table-light"><%= link_to @application.user.nickname, admin_user_path(@application.user) %></td>
    </tr>
    <tr>
      <th class="table-secondary">本番予定日</th>
      <td class="table-light"><%= @application.group.actual_date.present? ? @application.group.actual_date.strftime('%Y年%m月%d日 (%a)') : '未定' %></td>
    </tr>
    <tr>
      <th class="table-secondary">グループタイトル</th>
      <td class="table-light"><%= @application.group.title %></td>
    </tr>
    <tr>
      <th class="table-secondary">コメント</th>
      <td class="table-light">
        <% if @application.comment.present? %>
          <%= @application.comment %>
        <% else %>
          <span style="color: grey;">...No data...</span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th class="table-info">申請ステータス</th>
      <td class="table-light">
        現在のステータス：<%= now_status = @application.application_status_i18n %><br>　　↓<br>
        <%= form_with model: @application, url: admin_group_participation_application_path(@application), method: :patch do |f| %>
          <% if now_status == "未処理" %>
            <%= f.radio_button :application_status, 1 %> <span style="color: green;">承認　</span>
            <%= f.radio_button :application_status, 2 %> <span style="color: red;">却下</span>
          <% elsif now_status == "承認済み" %>
            <%= f.radio_button :application_status, 2 %> <span style="color: red;">却下</span>
          <% else %>
            <%= f.radio_button :application_status, 1 %> <span style="color: green;">承認</span>
          <% end %>
      </td>
    </tr>

  </tbody>
</table>
  <%= link_to admin_group_participation_applications_path, class: 'btn btn-primary' do %>
    <i class="fa-regular fa-circle-left"></i> 申請一覧ページへ
  <% end %>
  <%= f.submit "ステータス変更", class: "btn btn-success" %>
  <% end %>
</div>


