<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<h6>Adminグループ申請詳細(ステータス変更)</h6>

<table class="table">
  <tbody>
    <tr>
      <th class="table-secondary">申請日時</th>
      <td><%= @application.created_at.strftime('%Y-%m-%d  %p%I:%M') %></td>
    </tr>
    <tr>
      <th class="table-secondary">ユーザー</th>
      <td><%= @application.user.nickname %></td>
    </tr>
    <tr>
      <th class="table-secondary">本番予定日</th>
      <td><%= @application.group.actual_date.present? ? @application.group.actual_date.strftime('%Y年%m月%d日 (%a)') : '未定' %></td>
    </tr>
    <tr>
      <th class="table-secondary">グループタイトル</th>
      <td><%= @application.group.title %></td>
    </tr>
    <tr>
      <th class="table-secondary">コメント</th>
      <td><%= @application.comment %></td>
    </tr>
    <tr>
      <th class="table-secondary">申請ステータス</th>
      <td><%= form_with model: @application, url: admin_group_participation_application_path(@application), method: :patch do |f| %>
          現在のステータス：<%= now_status = @application.application_status_i18n %></br>　↓　</br>
          <% if now_status == "未処理" %>
            <%= f.radio_button :application_status, 1 %> 承認
            <%= f.radio_button :application_status, 2 %> 却下
          <% elsif now_status == "承認済み" %>
            <%= f.radio_button :application_status, 2 %> 却下
          <% else %>
            <%= f.radio_button :application_status, 1 %> 承認
          <% end %></td>
    </tr>
  </tbody>
</table>
  <%= link_to admin_group_participation_applications_path, class: 'btn btn-secondary' do %>
    <i class="fa-regular fa-circle-left"></i> 申請一覧ページへ
  <% end %>
  <%= f.submit "変更", class: "btn btn-success" %>
  <% end %>



