<% if flash[:notice].present? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% elsif flash[:success].present? %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<div class="container mx-auto">
  <h6 class="text-center">Admin グループ編集画面</h6>

  <%= form_with model: @group, local: true, url: admin_group_path(@group), method: :patch do |f| %>

    <table class="table">
      <tbody>
        <tr>
          <th class="table-secondary">画像</th>
          <td class="table-light" colspan="2">
            <div class="form-group">
              <%= f.file_field :group_image, accept: "image/*", class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="table-secondary">タイトル</th>
          <td class="table-light" colspan="2">
            <div class="form-group">
              <%= f.text_field :title, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="table-secondary">内容</th>
          <td class="table-light" colspan="2">
            <div class="form-group">
              <%= f.text_area :content, maxlength: 200, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="table-secondary">本番日</th>
          <td class="table-light" colspan="2">
            <div class="form-group">
              <%= f.date_select :actual_date, { include_blank: true, class: 'form-control' } %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="table-secondary">本番場所</th>
          <td class="table-light" colspan="2">
            <div class="form-group">
              <%= f.text_field :production_location, class: "form-control" %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="text-right">
      <%= f.submit '変更内容を保存する', class: "btn btn-success" %>
    </div>

  <% end %>
</div>
