<h6>グループ新規登録画面</h6>

<%= form_with model: @newgroup, url: admin_groups_path do |f| %>
  <p>タイトル</p>
  <%= f.text_field :title %>
  <p>内容</p>
  <%= f.text_area :content, maxlength: 200, :placeholder =>"依頼内容、どんなグループか等を入力" %>
  <p>本番日</p>
  <%= f.date_select :actual_date, { include_blank: true }, { class: 'form-control' } %>
  <p>本番場所</p>
  <%= f.text_field :production_location %>

  <%= f.submit 'Create Group', class: "btn btn-success btn-lg" %>
<% end %>
