<div class="container mx-auto">
  <h6>Admin ユーザー一覧画面</h6>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th class="text-center">No,</th>
        <th>ニックネーム</th>
        <th>氏名</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %> <!-- 各ユーザーに対してインデックスを使用 -->
        <tr>
          <td class="table-light text-center"><%= index + 1 %></td> <!-- インデックスを使用して1から順に番号を表示 -->
          <td class="table-light"><% if user.profile_image.attached? %>
                <%= image_tag user.profile_image, size: "50x50" %></br>
              <% else %>
                <%= image_tag 'no_image', size: "50x50" %></br>
              <% end %><%= link_to user.nickname, admin_user_path(user.id) %></td>
          <td class="table-light"><%= user.first_name %> <%= user.last_name %></td>
          <td class="table-light"><%= user.is_active %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
