<% if flash[:notice].present? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% elsif flash[:success].present? %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<div class="container mx-auto">
  <h6 class="text-center">活動報告編集　[<%= @achievement.schedule.group.title %>(<%= @achievement.schedule.start_time %><%= @achievement.schedule.classification_i18n %>)]</h6>
  <%= form_with model: @achievement, url: achievement_path, method: :patch do |f| %>

  <table class="table table-bordered">
    <thead class="table-secondary">
      <tr>
        <th class="text-center">項目</th>
        <th class="text-center">現在の内容</th>
        <th class="table-info text-center">変更後</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="table-secondary">タイトル</th>
        <td class="table-light"><%= @achievement.title %></td>
        <td class="table-light"><%= f.text_field :title, class: "form-control" %></td>
      </tr>
      <tr>
        <th class="table-secondary">参加メンバー</th>
        <td class="table-light"><%= @achievement.participant %></td>
        <td class="table-light"><%= f.text_area :participant, class: "form-control" %></td>
      </tr>
      <tr>
        <th class="table-secondary">活動内容</th>
        <td class="table-light"><%= @achievement.content %></td>
        <td class="table-light"><%= f.text_area :content, class: "form-control" %></td>
      </tr>
      <tr>
        <th class="table-secondary">コメント</th>
        <td class="table-light"><%= @achievement.comment %></td>
        <td class="table-light"><%= f.text_area :comment, class: "form-control" %></td>
      </tr>
      <tr>
        <th class="table-secondary">ファイル</th>
        <td class="table-light">  <% if @achievement.post_image.attached? %>
          <% if @achievement.post_image.content_type == "video/mp4" %>
            <video width="200" height="200" controls>
              <source src="<%= rails_blob_path(@achievement.post_image) %>" type="video/mp4">
            </video>
            <%= video_tag rails_blob_path(@achievement.post_image) %>
            <% else %>
              <%= image_tag url_for(@achievement.post_image), size: "200x200", class: "img-fluid" %>
            <% end %>
          <% else %>
            ファイルなし
          <% end %></td>
        <td class="table-light"><%= f.file_field :post_image, class: "form-control" %></td>
      </tr>
    </tbody>
  </table>

  <div class="text-right">
    <%= f.submit '変更を送信', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>