<% if flash[:notice].present? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% elsif flash[:success].present? %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<h6>活動報告詳細</h6>

<%= @achievement.title %>
<%= @achievement.schedule_participant.user.nickname %>