<% if flash[:success].present? %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<h6>マイページ</h6>
 
<p>プロフィール画像</p>
<% if @user.profile_image.attached? %>
  <%= image_tag @user.profile_image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image', size: "200x200" %>
<% end %></br>

  
氏名：<%= @user.first_name %>　<%= @user.last_name %></br>
フリガナ：<%= @user.first_name_kana %>　<%= @user.last_name_kana %></br>
生年月日: <%= @user.birth_date.strftime('%Y年%m月%d日') %></br>
ニックネーム：<%= @user.nickname %></br>

メールアドレス:<%= @user.email %></br>
自己紹介:<%= @user.introduction.present? ? @user.introduction : '未登録' %></br>

<%= link_to '編集', edit_information_path, class: 'btn btn-primary' %>
