<!DOCTYPE html>
<html>
  <head>
    <title>Legato Schedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/483f59133c.js" crossorigin="anonymous"></script>
    <!--%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <% if request.path.start_with?('/admin') %>
    <body style="background-color: #F5F5F5;">
    <header class="container-fluid" style="background-color: #EA930A; color: white;">
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <%= link_to 'Legato Schedule', admin_top_path, class: 'navbar-brand' %>
    <% elsif user_signed_in? %><!-- user のヘッダーの内容 -->
    <body style="background-color: #F0F8FF;">
    <header class="container-fluid" style="background-color: #009999; color: white;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Legato Schedule', root_path, class: 'navbar-brand' %>
    <% else %><!-- ゲストユーザーのヘッダーの内容 -->
    <body style="background-color: #F0F8FF;">
    <header class="container-fluid" style="background-color: #009999; color: white;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Legato Schedule', root_path, class: 'navbar-brand' %>
    <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <% if admin_signed_in? %>
              <li class="nav-item"><%= link_to admin_users_path, class: 'nav-link' do %>
                <i class="fa-solid fa-user"></i> ユーザー一覧
                <% end %>
              </li>
              <li class="nav-item"><%= link_to admin_group_participation_applications_path, class: 'nav-link' do %>
                <i class="fa-regular fa-thumbs-up"></i> 申請一覧
                <% end %>
              </li>
              <li class="nav-item"><%= link_to admin_schedules_path, class: 'nav-link' do %>
                <i class="fa-regular fa-calendar-days"></i> 予定管理
                <% end %>
              </li>
              <li class="nav-item"><%= link_to admin_groups_path, class: 'nav-link' do %>
                <i class="fa-solid fa-people-group"></i> グループ一覧
                <% end %>
              </li>
              <li class="nav-item"><%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                <% end %>
              </li>

            <% elsif user_signed_in? %>
              <li class="nav-item"><%= link_to "ようこそ、#{current_user.nickname}さん!", mypage_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to mypage_path, class: 'nav-link' do %>
                <i class="fa-solid fa-id-card"></i> マイページ
                <% end %>
              </li>
              <li class="nav-item"><%= link_to schedules_path, class: 'nav-link' do %>
                <i class="fa-regular fa-calendar-days"></i> 予定一覧
                <% end %>
              </li>
              <li class="nav-item"><%= link_to groups_path, class: 'nav-link' do %>
                <i class="fa-solid fa-people-group"></i> グループ一覧
                <% end %>
              </li>
              <li class="nav-item"><%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                <% end %>
              </li>
            <% else %>
              <li class="nav-item"><%= link_to new_admin_session_path, class: 'nav-link' do %>
                <i class="fa-solid fa-lock"></i> 管理者ログイン
                <% end %>
              </li>
              <li class="nav-item"><%= link_to new_user_registration_path, class: 'nav-link' do %>
                <i class="fa-solid fa-id-card"></i> 新規登録
                <% end %>
              </li>
              <li class="nav-item"><%= link_to new_user_session_path, class: 'nav-link' do %>
                <i class="fa-solid fa-right-to-bracket"></i> ログイン
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <!-- フッターの内容 -->
    </footer>
  </body>

</html>
